<h3><i class="feed icon"></i>Feed</h3>
<div class="ui feed">
  <div class="event">
    <div class="label">
      <i class="calendar icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          FAILS IF ADVISOR = NULL
        </a> scheduled a Channel Review
        <div class="date">
          Tuesday, June 27, 2015
        </div>
      </div>
    </div>
  </div>
 </div>