<div class="ui raised segment">
	<div class="ui big purple top ribbon label">Channel Reviews</div>
	<div class="ui three statistics">

		<div class="ui red statistic">
			<div class="value">
				<%= Review.overdue.count %>
			</div>
			<div class="label">
			Overdue!
			</div>
		</div>
	

		<div class="ui purple statistic">
			<div class="value">
				<%= Review.duetoday.count %>
			</div>
			<div class="label">
				Due Today
			</div>
		</div>

		<div class="ui yellow statistic">
			<div class="value">
				<%= Review.duenwd.count %>
			</div>
			<div class="label">
				Due NWD<br>

			</div>
		</div>


	</div>
	<p>&nbsp;</p>
	<%= link_to "Go do some reviews", dashboard_reviews_path, class: 'ui positive button' %>
</div>