<div class="ui raised segment">
<div class="ui big blue top ribbon label">Metrics</div>
	<div class="ui six statistics">

		<div class="ui statistic">
			<div class="value">
				<%= User.client.count %>
			</div>
			<div class="label">
			Clients
			</div>
		</div>

		<div class="ui statistic">
			<div class="value">
				<%= User.staff.count %>
			</div>
			<div class="label">
				Staff
			</div>
		</div>


		<div class="ui statistic">
			<div class="value">
				<%= Channel.count %>
			</div>
			<div class="label">
				Channels
			</div>
		</div>

		<div class="ui statistic">
	    <div class="value">
	      25,321
	    </div>
	    <div class="label">
	      MRR
	    </div>
	  </div>
	</div>
</div>