<h1 class="ui dividing header">Dashboard</h1> 

<div class="ui three column stretched grid">
	<div class="row">
    <div class="column">
  	  <%= render 'reviewpanel' %>
    </div>
    <div class="column">
  	  <%= render 'requestpanel' %>
    </div>
    <div class="column">
  	  <%= render 'statspanel' %>
    </div>
  </div>
</div>
