<div class="ui modal">
  <div class="header">
    Recruiter / Affiliate Agreement
  </div>
  <div class="content">
    <div class="description">
      <p>The following are terms and conditions for participating in the network101 Ltd. Affiliate Program. "Affiliate" refers to you, and "101" refers to the network101 Ltd.</p>

      <p>Violations of any of the provisions of this agreement may result in the suspension or termination of your Affiliate account including forfeiture of future commissions. 101 also reserves the right to take legal action against any Affiliate found violating the provisions in this agreement.</p>

      <p>101 reserves the right to amend this agreement as needed from time to time, and Affiliate agrees that any such amendment will apply to Affiliate. The continuation of Affiliate status or Affiliate's acceptance of income or bonuses shall constitute Affiliate's acceptance of any and all amendments.</p>

      <ol>
        <li>Affiliate agrees that a 101 Affiliate is an independent contractor and not an employee, agent, partner, legal representative, or franchisee of 101. Affiliate further agrees not to incur any debt, expense, obligation on behalf of, for, or in the name of 101.</li>

        <li>Affiliate must be of the age of majority in his/her state or country.</li>

        <li>All Affiliate applications are subject to approval by 101.</li>

        <li>Affiliate agrees to receive 101 e-mail, including but not restricted to sales reports, training, newsletters, plus messages from Affiliate's Sponsor, Co-Sponsor, or Team Leader(s).</li>

        <li>Contact information (e-mail address, phone number, address, etc.) will be provided to your 101 Sponsor (typically the person who directly referred you to 101 or whose advertising generated your registration) and your 101 Co-Sponsor. Contact information is not disclosed to any other party.</li>

        <li>A maximum of ONE 101 Affiliate per household is allowed. In addition, each 101 Affiliate should have his or her own access to the Internet via his or her own computer, tablet, or other mobile device. Managing your 101 business using another affiliate's computer, tablet, or mobile device is NOT permitted.</li>

        <li>Affiliate agrees to present the 101 Compensation Plan and 101 products and services as set forth at the official 101 Website. Affiliate will make no claims regarding potential income, earnings, products, or services beyond what is stated at the official 101 Website. Affiliate further agrees not to reproduce, publish, or post earnings in any form, online or offline, by any means.</li>

        <li>Affiliate agrees not to publicly disparage 101, other 101 Affiliates, 101 products, the 101 compensation plan, 101 employees, or 101 Independent Contractors. Affiliate understands that disparagement may result in the immediate suspension or termination of Affiliate account with a cancellation of any pending commissions. All complaints or concerns should be directed toward 101 corporate offices via support.101mg.com.</li>

        <li>Affiliate agrees that registering new affiliates through automated machine entry, manual entry, or advancing your affiliates' ranks without their approval is strictly forbidden and is grounds for suspension or termination of your account. Affiliate further understands that he/she may only log into his/her own individual account, and any actions taken under the guise of another affiliate, including making payments under another affiliate's account, is strictly prohibited.</li>

        <li>Affiliate agrees to not utilize SPAM in promoting 101. 101 maintains a ZERO tolerance policy towards the sending of SPAM, including, but not limited to, unsolicited commercial E-mail (UCE). This action may result in the immediate suspension or termination of Affiliate account with a cancellation of and possible forfeiture of any pending commissions. Affiliate will also be in violation of the 101 Affiliate Agreement and subject to legal action and be held liable for any financial loss incurred by 101.<br/>

        For the purpose of this agreement SPAM is defined as e-mailing, faxing, or telephoning ANYONE, in bulk or individually, in violation of all anti-spamming and applicable laws or regulations for the country, state, county, and city where the intended recipient resides. The Affiliate is under obligation to research and comply with all laws concerning unsolicited commercial e-mail. Under United States law, it is unlawful "to use any telephone, facsmile machine, computer, or other device to send an unsolicited advertisement. Electronic mail advertisement means any e-mail message, the principal purpose of which is to promote, directly or indirectly, the sale or other distribution of goods or services to the recipient." (CAN-SPAM Act of 2003).<br/>

        101 further defines SPAM as contacting anyone, in bulk or individually, about 101, who has not specifically requested the information directly from Affiliate. The ONLY exceptions to this rule are:<br/>

        <ul>
          <li>A. Sending 101 E-Cards to your family and friends. You can send up to 10 E-Cards a day.</li>

          <li>B. Mailing to APPROPRIATE OPT-IN mailing lists where the source does the mailing on Affiliate's behalf AND you do not use a 101-provided Gateway URL. However, use extreme caution when choosing an opt-in mailing list company! Using anything but the most reputable sources could generate spam complaints against Affiliate resulting in suspension or termination.

          <p>IMPORTANT: As it relates to Affiliate use of appropriate opt-in mailing lists as described above, Affiliate understands and acknowledges that it is illegal to forge headers on e-mails and it is illegal to neglect to include a valid functional unsubscribe link along with a valid mailing address in any e-mails sent out. Any Affiliate found forging headers or not including a valid functional unsubscribe link will be immediately and permanently terminated from 101. Further, this action may result in the immediate suspension or termination of Affiliate account with a cancellation of and possible forfeiture of any pending commissions. Affiliate will also be in violation of the 101 Affiliate Agreement and subject to legal action and be held liable for any financial loss incurred by 101.</p></li>

          <li>C. You may include information on 101 in e-mail Acknowledgement Messages for orders and inquiries that you receive, so long as it is stated up front that you will be sending them an acknowledgement.

          <p>101 also considers ANY type of advertisement about 101 that is posted unsolicited on online venues (e.g. newsgroups, chat rooms, etc.) to be spam.</p></li>
        </ul>
        </li>

        <li>Affiliate agrees to provide 101 with a valid e-mail address upon registration. Affiliate understands that the use of an autoresponder e-mail address is prohibited.</li>

        <li>Affiliate is SOLELY responsible for e-mail sent by Affiliate using Affiliate's own, non-101 e-mail system. 101 requires all Affiliates to permanently remove anyone who complains or requests to be removed from the Affiliate's mailing list or address book. If 101 receives a complaint from the same e-mail address as a previous complaint from an e-mail that was sent more than a week after the original complaint was filed, 101 reserves the right to terminate the offending Affiliate.</li>

        <li>Affiliate is SOLELY responsible for adherence to all provisions in this agreement with respect to e-mail content sent by Affiliate using 101's Affiliate mailing system.</li>

        <li>Affiliate agrees and accepts the current 101 Compensation Plan (www.101mg.com/CompPlan) in its entirety. 101 further reserves the right to alter, change, and/or update portions of the 101 compensation plan or the 101 compensation plan in its entirety for any reason at any time without prior notice.</li>

        <li>Although the 101 Affiliate Program is not limited to the United States of America, all payments will be made in U.S. dollars. Affiliate commissions shall normally be paid by company check and sent out monthly on or about the 10th for the previous month's sales. To cover 101 processing costs of Affiliate commission check, 101 will deduct $1 (one dollar). If a sale is canceled or refunded, the related commission will be deducted from a subsequent payment. The minimum commission check that will be sent out is $8 (after processing fee).  Some exceptions may apply.</li>

        <li>Affiliates wishing to change sponsors must officially opt out of the 101 program for a minimum of six months. All sponsored affiliates and previous relationships with other 101 affiliates and members will be voided at this time. After the six-month period, you may rejoin 101 with the sponsor of your choice. If a violation of this policy is discovered, all positions other than the original position will be terminated. HOWEVER, if your sponsor creates a ticket at support.101mg.com releasing you as his/her personally sponsored affiliate, you may rejoin 101 under a different sponsor; 101 reserves the right to assess each situation on an individual basis.</li>

        <li>Affiliate is strictly prohibited from soliciting 101 affiliates for other business opportunities. Although 101 takes no issue with affiliates being involved with other business opportunities outside of 101, affiliates may not use any 101 resource or tool (i.e. TeamMail, TeamTalk, PSA Mailer, CSA Mailer, My Best Tips, etc.) to promote these other business opportunities or for-profit endeavors to other affiliates.</li>

        <li>Affiliate will be issued an "Affiliate Link," a unique URL which allows 101 to identify visitors from Affiliate site as originating from Affiliate. These visitors are tracked with this unique URL, and sales are recorded with the appropriate Affiliate ID. To receive commissions, Affiliate must use the provided Affiliate Link. The URL may be in various forms, such as a banner, image, or text link.</li>

        <li>When promoting 101, its products and/or services, business opportunity, and products, services, and/or opportunities of its subsidiaries in print, digitally, or online, affiliates must use only official text ads, banners, and other approved advertisements containing links to the Affiliate's assigned unique URL. Redirect URLs are permitted to be used in online, digital, and printed advertisements, so long as those redirect URLs go directly to the Affiliate's unique URL assigned to him/her by 101.</li>

        <li>Affiliate is solely responsible for ensuring that their Affiliate Link is set up properly to qualify for commissions.</li>

        <li>101 is not responsible for technical problems, acts by third parties, or other events outside our reasonable control which may temporarily disrupt or diminish service.</li>

        <li>101 will make every reasonable effort to track and pay commissions for all sales that apply to Affiliate. However, 101 is not responsible for technical problems, acts by third parties, or other events outside our reasonable control which may temporarily disrupt or diminish this ability.</li>

        <li>To protect 101 customer privacy, if deemed necessary, 101 reserves the right to withhold identifying customer contact information from Affiliate.</li>

        <li>101 reserves all rights in or to its trademarks and servicemarks but may be used by Affiliate in accordance with this agreement. Affiliate may in no way display a 101 logo, image, or trademark which may be distasteful, defame, or misrepresent 101.</li>

        <li>Affiliate shall follow 101 advertising guidelines and agrees not to misrepresent 101 products or services. Affiliate agrees to use only 101-approved ads. However, if you are a Team Leader, you may submit your own ads for 101's approval. They must be approved, however, before you can publish them.</li>

        <li>Affiliate understands that prohibited sites for advertising 101 products or services include: Websites that promote sexually explicit material or violence; sites that promote discrimination based on race, sex, religion, national origin, or physical disability; sites that promote illegal activities.</li>

        <li>Affiliate may not assign rights or delegate duties under this Agreement without the prior written consent of 101. Upon request, 101 will provide Affiliate with guidelines for the sale, transfer, or assignment of Affiliate's 101 business.</li>

        <li>101 shall not be held liable for any indirect, incidental, special, or consequential damages or any loss of revenue or profits arising under or with respect to this Agreement or program, even if 101 has been advised of the possibility of such damages. 101 aggregate liability arising under or with respect to this agreement or the program shall in no event exceed the total commissions paid or payable by 101 under this agreement.</li>

        <li>Affiliate agrees not to present others' creative works—in full or in part—as his or her own nor engage in violation of copyright agreements for any reason. Such violations could result in suspension or termination of membership.</li>

        <li>By submitting Affiliate tips, Ask SC answers, 101 Forum posts, and any other feedback and content to the 101 Affiliate Center, TripleClicks.com, Support Desk, or in any direct communication to 101 Corporate offices, Affiliate agrees that such content becomes the intellectual property of network101 Ltd. and grants permission to use Affiliate's name, likeness, and all submitted content or comments for training materials, marketing aids, publicity purposes, and any other purpose deemed necessary and desirable by 101 Corporate without further notification, payment of additional consideration, recognition of authorship, etc., except where prohibited by law.</li>

        <li>101 makes no warranties expressed or implied with regard to Affiliate Program except as outlined in this Agreement.</li>

        <li>Both 101 and the Affiliate reserve the right to terminate this agreement at any time. The term of this Agreement shall be for a period of one year from the date hereof and shall automatically renew upon each anniversary without further act of the parties unless either party has terminated this Agreement by written notice to the other. If terminated, outstanding commissions at time of termination shall be paid in the next payment so long as the terms of this agreement were not violated by the Affiliate. Payment of the final commission payment to the Affiliate may be withheld for a reasonable time in order to ensure that the correct amount is paid.</li>

        <li>In the event that a provision of this Agreement is held to be invalid or unenforceable, such provision shall be reformed only to the extent necessary to make it enforceable, and the balance of the Agreement will remain in full force and effect.</li>

        <li>Affiliate understands that if he/she fails to log in to the Affiliate Center within a 45-day period, Affiliate will automatically have his/her payment option set to "Accumulate my commissions." Affiliate must access the Edit Commission Payment Info page and change this setting back to the preferred option. Note that logging into any 101 account other than your own is strictly prohibited.</li>

        <li>Should Affiliate not achieve Executive Affiliate (EA) status at ANY time during a continuous 6-month period, Affiliate understands that he/she will forfeit all accumulated commissions.</li>

        <li>Affiliates who fail to log in to the 101 Affiliate Center for one year and ARE NOT at least EA will lose their 101 affiliateships. They will, however retain their TripleClicks memberships indefinitely and their original 101 sponsors will continue to earn on their member purchases. When a 101 affiliateship is forfeited, all PSAs and PRMs from that former affiliate will roll up to his or her sponsor.</li>

        <li>101 limits affiliate's use of a single credit card to a limited number of separate affiliate accounts.</li>

        <li>101 carefully monitors various 101 Affiliate actions referenced on the VP Ledger, To-Do List, and other sources for fraud. Violations will result in suspension of commissions or affiliateship termination.</li>

        <li>Transferability of 101 Affiliateship: In the event of an Affiliate's death, 101 will keep sending commissions in the method that's been selected on the affiliate's account. For example, if the affiliate had chosen to have his or her commission mailed by check, the affiliate's surviving spouse or other representative must ensure they have the legal right to cash a check made out to the name on the 101 account. However, surviving spouses and representatives can also log onto the affiliate's account and make the necessary adjustments to the account name and information. IMPORTANT: surviving spouses and representatives must have account login information. 101 will not provide that information. Note that, other than this particular exception, logging into any 101 account other than your own is strictly prohibited.</li>

        <li>Logging into any 101 account other than your own is strictly prohibited.</li>

        <li>Providing false registration information (for example, entering a U.S. address while actually residing in another country) will result in your account being terminated.</li>

        <li>Affiliate agrees not to use or in any way directly or indirectly employ scripts, applications, or other services designed to automate any part of the affiliate's relationship (such as daily actions and other VP accumulating tasks) with 101 and its divisions and subsidiaries (TripleClicks, Eager Zebra Games, Pricebenders Auctions, etc.), except where expressly stated as permissable by 101 Corporate.</li>

        <li>This agreement will be governed by and construed in accordance with the laws of the State of Nebraska, unless the laws of the state in which Affiliate resides expressly require the application of its laws. This agreement is further governed by and construed in accordance with the laws of the United States of America.</li>
      </ol>
    
    </div>
  </div>
  <div class="actions">
    <div class="ui positive button">I Accept These Terms</div>
  </div>
</div>