<h4>Terms of Service</h4>
<p>As a network101 referral partner (a “Referrer”), you are subject to network101’s Terms of Service and network101’s Privacy Policy (both available on our website), as well as the following additional Terms &amp; Conditions:</p>
<ul>

  <li><strong>Qualified Referral.</strong> A Qualified Referral is defined as one or more subscription purchases made at <a href="http://www.network101.com/">www.network101.com</a> by a person (a "Referred Customer") who registers via your Referral link, or by entering your referral code in the registration form. You are limited to one Qualified Referral for each Referred Customer; additional/repeat purchases made by a Referred Customer are not counted as additional Qualified Referrals.</li>

  <li><strong>Referred Customer.</strong> The Referred Customer and the Referrer cannot be the same person (for example, by using a different email address).</li>

  <li><strong>Reward Payments.</strong> Rewards are payable in complimentary (free of charge) subscription months. For each referral, you will receive one free month of network101 service. As a Referrer, you are responsible for any and all tax liability resulting from Referral Rewards.</li>

  <li><strong>Eligibility. </strong>Eligibility is limited to individuals only. network101’s Referral Program cannot be used by businesses for affiliate lead generation as determined in network101’s sole discretion.</li>

  <li><strong>Ethics. </strong>Yes, ethics! network101 strives to be an ethical, sustainable and value-creating business. Likewise, we expect our members to be guided by this philosophy and operate in the spirit of what we are trying to do. As a Referrer, you represent network101, so try "do as network101 would do". We reserve the right to exclude you from the Referral Program, at our sole discretion, if we determine you're harrassing or annoying others, or otherwise conducting yourself inappropriately.</li>

  <li><strong>Spam. </strong>You must comply with all up-to-date “SPAM” laws, but also recruit using common sense manners and polite conduct. For example, emails must be created and distributed in a personal manner and bulk email distribution is strongly discouraged. Any distribution of your referral link that could constitute unsolicited commercial email or "spam" under any applicable law or regulation is expressly prohibited and will be grounds for immediate termination of your account and exclusion from network101’s Referral Program.</li>

  <li><strong>Right to Close Accounts.</strong> network101 reserves the right to close the account(s) of any Referrer and/or Referred Customer and to cancel any pending rewards if the Referrer and/or Referred Customer breaches any of these Terms &amp; Conditions or is in violation of any law, statute or governmental regulation.</li>

  <li><strong>Right to Cancel Program or Change Terms</strong>. network101 reserves the right to cancel the network101 Referral Program or to change these Terms &amp; Conditions at any time in its sole discretion. Any unclaimed referral rewards will be forfeited at that time.</li>
</ul>