<div class="container">
  <div style="float: right; padding: 40px;">
    <a href="javascript:window.print()" class="printArticle" title="Print this article" style="float: right"><i class="ui print icon"></i>Print</a><br />
    <div class="icon-image logo101 grow" style="float: right"></div>
  </div>
  <br />
  <h1 class="title">Free Blogs for Creators!</h1>
  <div class="light description">
  <p>We're all about pouring on the value here, so starting very soon, network 101 will be giving away free <a href="http://www.wordpress.org" target="_blank" rel="nofollow">Wordpress</a> blogs to all of our subscribers. No, not just paying clients - everyone.</p>
  <p>Why?  It's just an extension of our philosophy of offering as many free tools to the creator community as reasonably possible.  With a blog, you've got another way to showcase your content. Now your fans can subscribe not just to your channel, but to your blog as well, where you can build a mailing list, and drive greater engagement.</p>
  Once launched, you will be able to click one button, and you will have a blog which matches the name of your YouTube channel.  Is your YouTube channl name awesomegamer?  Well congratulations, we've reserved awesomegamer.101.net just for you. And there will be plenty of available themes and customization options - you will truly able to make the blog your own.</p>
  <p>The details are still coming together, but I wanted to post this as quickly as possible.  It's just another reason why you will want to sign up for network 101 - the Creators' Back Office.</p>
  <p>Full terms and conditions inside. So what are you waiting for?</p>

  </div>

  <div class="ui hidden divider"></div>
  <center>
  <a href="/users/sign_up" class="ui large animated positive fade button" rel="nofollow">
  <div class="visible content">Serious About Your Channel?</div>
    <div class="hidden content">
      Try network101 - It's Free!
    </div>
  </a>
  </center>
  <div class="ui hidden divider"></div>
  <%= link_to "Back", root_path %>
  </div>
</div>