<div class="container">
  <div style="float: right; padding: 40px;">
    <div class="icon-image logo101 grow" style="float: right"></div>
  </div>
  <br />
  <h1 class="title">Blog Posts</h1>
	<ul>
		<li><%= link_to 'Free Blogs for Creators', free_blogs_path %>, published October 2015</li>
	</ul>
	<ul>
		<li><%= link_to 'Network101 Manifesto on MCNs', manifesto_path %>, published June 2015</li>
	</ul>
</div>