<div class="container">
    <div style="float: right; padding: 40px;">
      <a href="javascript:window.print()" class="printArticle" title="Print this article" style="float: right"><i class="ui print icon"></i>Print</a><br />
      <div class="icon-image logo101 grow" style="float: right"></div>
    </div>
    <br />
    <h1 class="title">network101: Our Manifesto</h1>
    <div class="light description">
    <p>(apologies in advance for the length... we're kinda passionate about this)</p>
      <p>If you're a YouTube Creator, you've probably heard about <a href="https://en.wikipedia.org/wiki/Multi-channel_network" target="_blank">MCNs, or Multi-Channel Networks</a>. Maybe you're already a member of one. MCNs are supposed to help you grow your channel and make more money. Sounds like a great idea, right? Well, hold your horses.</p>
      <p>Traditional MCNs make money by charging you a percentage of every dollar you earn - usually around 40%. It sounds like a great deal when 40% is only $4, but when your channel finally blows up (which is the goal here, after all), you're giving up a <i>huge</i> chunk of change for nothing!</p>
      <p>It's a flawed concept: when you're small, your MCN can't afford to give you the attention you need, and you end up feeling ignored and abandoned. But when you're a superstar, they are suddenly all over you, but you've already kicked ass on your own, and you don't need them anymore.</p>
      <p>The idea that an MCN can magically get you views, subs and brand sponsorships, is simply a pipe-dream. If it happens, it'll be because YOU did it, not some stinkin' MCN dude in a suit!</p>
      <p>MCNs are like that friend in high school, who says he's tight with Dre and can get you a record deal. Somehow, when it comes time to get your demo in front of the hip-hop legend, it's nothing but excuses.</p>
      <p>So, eventually, you've had enough, you make an "X network sucks, I'm leaving!" vlog (yeah, we know, there are a LOT of them!), and you're soured on the whole idea of MCNs.</p>
      <p>Alas, for the average creator, YouTube MCNs over-promise and under-deliver -- and the reality is, they can't afford to do it any other way. They're not evil (well, we <i>think</i> they're not), though; the problem is with the business model.</p>
      <p>Wouldn't it be better if MCNs would spend more of their time investing in bringing up talented creators like yourself, rather than sucking up to PewDiePie?</p>
      <p>So, what's the solution? In the words of that bald guy on Shark Tank, "Stop the Madness!" There's got to be a better solution, right? Well yes sir-ee, we believe there is. </p>
      <p>And it's <b>network101 - the Creator's Back Office.</b></p>
      <p>What is network101? We're a different kind of MCN - in fact, we're so different, we're not even a YouTube MCN at all (yet)! </p>
      <p>The tag-line "The Creator's Back Office" should give you a hint about how we operate. We think of you as a client. We work for you - not the other way around. You're the creator, the artist. We're just here to give you a helping hand. </p>
      <p>We're your coach, your secretary, your accountant, your agent, your tech support, your graphics department - everything rolled into one.</p>
        <p>But what about sponsorship deals and getting you thousands of subs? Well, we'll do what we can, but at the end of the day, content sells a YouTube channel, not connections. We believe the best way to get you noticed is to give you the tools you need to step up your video quality and appeal. Yes, it's hard work, but if you're a YouTube creator, you're already no stranger to that!</p>
      <p>So, apart from the services we offer, our main advantage is our business model. The model is <u>specifically designed to align our interests with those of our creators</u>, and ensures we provide the <u>same quality service to all of our creator clients</u>, no matter what their size. Seriously.</p>
      <p>How can we guarantee it? Simple. Big or small, we charge a <b>flat monthly fee of $30</b>* - <i>less than 99&cent; a day</i>.</p>
        
      <p>For that, you get everything an MCN <b>should</b> offer:</p>
      <ul>
          <li>Collaboration opportunities </li>
          <li>A community forum. </li>
          <li>Royalty free music </li>
          <li>Tools to make publishing faster and easier</li>
          <li>Training on lots of topics like</li>
          <ul>
              <li>Monetization </li>
              <li>Promotion </li>
              <li>Growth</li>
              <li>Sponsorsips</li>
          </ul>
      </ul>
      <p>Then we add some amazing <b><i>custom shop</i></b> services that nobody else can offer:
          <ul>
              <li><b>Done For You motion graphics.</b> Channel intros, customized lower thirds, end cards. Now you don't have to spend hours, days or weeks trying to figure out After Effects. Our team of talented motion graphic specialists will act on your requests and provide pre-renderd graphics for all of your videos.* <i>This service alone may make it possible for you to stop subscribing to Adobe Creative Cloud, saving you $50/mo.</i></li>
              <li><b>End card and other Annotation setup</b>. We can take the drudgery out of setting up your end cards. </li>
              <li><b>Closed Captions</b>. We can go through your video and add accurate closed captions, increasing your videos' accessibility.</li>
              <li><b>One on one channel reviews.</b> Every quarter, your dedicated channel expert will evaluate your progress and help you formulate a plan for growth.</li>
          </ul>
      </p>

      <p><i>* our base rate includes a reasonable amount of custom shop work. Some very busy channels may opt to outsource more of their work to us than is included in our base packge, but it's entirely optional and will never take away from our core offering of the services above.</i></p>
      <p>With a flat fee, network101's interests are aligned with you, the creator. Big or small, we are here to help you. Every month our team is building additional tools and services to pile on the value.</p>
      <p>Because we are not (yet) a YouTube certified MCN, we are not restricted by YouTube's policies. We are very 'relaxed' in our client criteria. If you have any concerns, please ask <a href="http://forum.101.net" target="_blank">in the forum</a> before you sign up.</p>
      <p>So what about the advantages you can have ONLY from a YouTube MCN? Honestly there aren't very many, and for many they're more marketing hype than anything else.
          <ul>
              <li>Protection from Content Match hits. If you follow YouTube's terms of service, you shouldn't run into these problems ever.</li>
              <li>Higher CPM. For some MCNs, this may be true, as they have a sales department. But for many, the promise of a higher CPM is a complete fabrication.</li>
          </ul>
      </p>
      <p>By avoiding the MCN system entirely, you get paid faster, and never have to deal with the potential for delayed, inaccurate, or just plain MISSING payments from your network.</p>
      <p>network101 is working towards MCN certification, and will accept any qualifying members who wish to use the MCN model. But please, do NOT consider it mandatory. For MCN clients, there will be no contract lock-ins. We don't believe in them. If you decide we're not right for you, you will be able to leave us at any time (with 30 days notice). </p>
      <p>As the Creator's Back Office, our job is to give you the tools to succeed. We're not going to take credit for your success, but we're going to do lots to help you get there.</p>
      <p>MCNs can be a valuable tool for YouTube creators, but the existing percentage-based model pits creators' needs against the MCN's economic interests. network101's flat fee model ensures your channel doesn't get lost and ignored, and also ensures you aren't subsidizing dozens or hundreds of baby channels.</p>
      <p>We're currently gearing up for our beta test in August. If you like what you hear, please apply today by mailing <a href="mailto:beta@101.net">beta@101.net</a>. Please leave your Skype ID - we'll be in touch promptly.</p>
      <p>Sincerely,
          <br /> Harv &amp; Rob
      </p>
  <div class="ui hidden divider"></div>
  <center>
      <a href="/users/sign_up" class="ui large animated positive fade button">
          <div class="visible content">Serious About Your Channel?</div>
          <div class="hidden content">
              Try network101 - Free!
          </div>
      </a>
  </center>
  <div class="ui hidden divider"></div>
  <%= link_to "Back", root_path %>
  </div>
</div>