<div class="container">
  <div class="row">
    <div style="float: right; padding: 40px;">
      <a href="javascript:window.print()" class="printArticle" title="Print this article" style="float: right"><i class="ui print icon"></i>Print</a><br />
      <div class="icon-image logo101 grow" style="float: right"></div>
    </div>
    <br />
    <h1 class="title">network101 - Referrer Program</h1>
    <%= render "recruiter_tos_text" %>
  </div>
</div>