<h1 class="ui dividing header">
	Creator Applications
<!--	<div class="sub header">Sub Header</div>-->
</h1>

<h3>Available Now</h3>
<div class="ui five doubling cards">



	<div class="card">
	  <a class="image" href="/apps/thumbnail">
		<%= image_tag "thumbnailcreator.jpg"%>
	  </a>
	  <div class="content">
		<a class="header" href="/apps/thumbnail">Thumbnail Creator</a>
		<div class="description">
		  <a>Use this awesome tool to create video thumbnails.</a>
		</div>
	  </div>
	</div>

	<div class="card">
	  <a class="image" href="/apps/collaboration">
		<%= image_tag "partner-icon.png"%>
	  </a>
	  <div class="content">
		<a class="header" href="/apps/collaboration">Collaboration Machine</a>
		<div class="description">
		  <a>Find Collaborators</a>
		</div>
	  </div>
	</div>


</div>
		
<div class="ui divider"></div>

<h3>Coming Soon</h3>
<div class="ui five doubling cards">

	<div class="card">
	  

	  
	  <div class="content">
		<div class="header">
			Channel Art Creator
		</div>
		<div class="description">
		  Use this awesome tool to create channel art
		</div>
	  </div>
	</div>

	<div class="card">
	  

	  
	  <div class="content">
	  <div class="header">
			Another App
		</div>
		<div class="description">
		  Something Cool and Useful
		</div>
	  </div>
	</div>


</div>
		