<%= form_for(@gallery_image, html: {multipart: true, class: 'ui form', id:'frmCustomize'}) do |f| %>
	<% if @gallery_image.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@gallery_image.errors.count, "error") %> prohibited this gallery_image from being saved:</h2>

			<ul>
				<% @gallery_image.errors.full_messages.each do |message| %>
					<li>
						<%= message %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>