<% content_for :head do %>
<% end %>
<h1 class="ui dividing header">Admin Dashboard</h1> 

<div class="ui stackable grid">
  <div class="eight wide column">
      ??
  </div>
  <div class="eight wide column">
      ??
  </div>
</div>
