<% unless defined?(navbarstyle) && navbarstyle != '' %>
<% 	navbarstyle = 'inverted grey' %>
<% end %>

<div id="mainMenuBar" class="ui <%= navbarstyle %> menu">
	<div class="left menu">
		<%= render "nav_static", :homepath => dashboard_path %>
		<%= render "nav_staff_all" %>
	</div>

	<div class="right menu">
	  	<%= render "nav_user" %>
  	</div>
</div>
