<div class="ui centered grid">
  <div class="ten wide column">
    <div class="ui massive error icon message">
      <i class="remove user icon"></i>
      <div class="header">
        This account has been cancelled.
      </div>
      Please contact our support department if you wish to reenable your service.
    </div>
  </div>
</div>
